{
  "openapi": "3.1.2",
  "info": {
    "title": "Xasha API",
    "version": "1.0.0",
    "description": "Account-free, one-time encrypted text sharing. Never send plaintext or encryption keys. Never automatically retry consumption. Public secret routes allow any browser origin without credentials. Opening a client share page must not consume a secret.",
    "license": {
      "name": "ISC",
      "identifier": "ISC"
    }
  },
  "servers": [
    {
      "url": "https://api.xasha.site",
      "description": "Hosted service"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Secrets",
      "description": "Create, retrieve once, and privately delete encrypted text."
    },
    {
      "name": "Status"
    }
  ],
  "components": {
    "schemas": {
      "CreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SecretId"
          },
          "deleteToken": {
            "$ref": "#/components/schemas/DeleteToken"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "deleteToken",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "SecretId": {
        "type": "string",
        "minLength": 32,
        "maxLength": 32,
        "pattern": "^[A-Za-z0-9_-]+$"
      },
      "DeleteToken": {
        "type": "string",
        "minLength": 43,
        "maxLength": 43,
        "pattern": "^[A-Za-z0-9_-]+$",
        "description": "Private deletion credential, sent only in the JSON body."
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "CreateRequest": {
        "type": "object",
        "properties": {
          "envelope": {
            "$ref": "#/components/schemas/Envelope"
          },
          "expiresIn": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  3600
                ]
              },
              {
                "type": "number",
                "enum": [
                  86400
                ]
              },
              {
                "type": "number",
                "enum": [
                  604800
                ]
              }
            ],
            "default": 86400
          }
        },
        "required": [
          "envelope"
        ],
        "additionalProperties": false
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "version": {
            "type": "number",
            "enum": [
              1
            ]
          },
          "iv": {
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "Canonical, unpadded base64url."
          },
          "ciphertext": {
            "type": "string",
            "minLength": 23,
            "maxLength": 43712,
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "Canonical, unpadded base64url."
          }
        },
        "required": [
          "version",
          "iv",
          "ciphertext"
        ],
        "additionalProperties": false,
        "description": "AES-256-GCM ciphertext with appended 128-bit tag; fresh 12-byte IV. No plaintext or encryption key."
      },
      "ConsumeResponse": {
        "type": "object",
        "properties": {
          "envelope": {
            "$ref": "#/components/schemas/Envelope"
          }
        },
        "required": [
          "envelope"
        ],
        "additionalProperties": false
      },
      "DeleteRequest": {
        "type": "object",
        "properties": {
          "deleteToken": {
            "$ref": "#/components/schemas/DeleteToken"
          }
        },
        "required": [
          "deleteToken"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "xasha"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ],
        "additionalProperties": false
      },
      "Ready": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ready"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "xasha"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ],
        "additionalProperties": false
      },
      "NotReady": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "unavailable"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "xasha"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/secrets": {
      "post": {
        "operationId": "createSecret",
        "tags": [
          "Secrets"
        ],
        "summary": "Create an encrypted secret",
        "description": "Encrypt locally. Send only the envelope and expiry; never send plaintext or keys. Creation is not idempotent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. The private deletion token is returned once.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST: invalid JSON, fields, or encoding.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED on restricted deployments.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED for unsupported methods.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Allow": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "POST, OPTIONS"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE: JSON exceeds 49152 bytes or ciphertext exceeds 32784 decoded bytes.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "UNSUPPORTED_MEDIA_TYPE: use uncompressed application/json.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: IP budget exhausted before database access. No secret mutation.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Retry-After": {
                "description": "Currently 60 seconds.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR: fixed message without internal details.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE: dependency failure, maintenance, invalid configuration, or capacity exhaustion.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "Secrets"
        ],
        "summary": "Side-effect-free browser preflight",
        "responses": {
          "204": {
            "description": "No mutation or rate-limit budget spent. Allowed preflight permits POST and Content-Type without credentials.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Origin or requested preflight method/headers are not allowed.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Compressed requests are unsupported.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Invalid configuration or maintenance.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/secrets/{id}/consume": {
      "post": {
        "operationId": "consumeSecret",
        "tags": [
          "Secrets"
        ],
        "summary": "Retrieve an encrypted secret once",
        "description": "Send no request body. Call only on an explicit reveal action. Never automatically retry: delivery or decryption can fail after irreversible consumption.",
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/SecretId"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved and atomically removed.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST: invalid JSON, fields, or encoding.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED on restricted deployments.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "SECRET_UNAVAILABLE: used, expired, deleted, missing, or malformed reference.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED for unsupported methods.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Allow": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "POST, OPTIONS"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE: JSON exceeds 49152 bytes or ciphertext exceeds 32784 decoded bytes.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "UNSUPPORTED_MEDIA_TYPE: use uncompressed application/json.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: IP budget exhausted before database access. No secret mutation.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Retry-After": {
                "description": "Currently 60 seconds.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR: fixed message without internal details.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE: dependency failure, maintenance, invalid configuration, or capacity exhaustion.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "Secrets"
        ],
        "summary": "Side-effect-free browser preflight",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No mutation or rate-limit budget spent. Allowed preflight permits POST and Content-Type without credentials.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Origin or requested preflight method/headers are not allowed.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Compressed requests are unsupported.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Invalid configuration or maintenance.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/secrets/{id}/delete": {
      "post": {
        "operationId": "deleteSecret",
        "tags": [
          "Secrets"
        ],
        "summary": "Delete using a private token",
        "description": "Require explicit confirmation. Send the private deletion token only in the JSON body. Deletion cannot recall a completed retrieval.",
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/SecretId"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "This request deleted the available secret.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST: invalid JSON, fields, or encoding.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED on restricted deployments.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "DELETE_UNAVAILABLE: unavailable secret or incorrect well-formed token.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED for unsupported methods.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Allow": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "POST, OPTIONS"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE: JSON exceeds 49152 bytes or ciphertext exceeds 32784 decoded bytes.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "UNSUPPORTED_MEDIA_TYPE: use uncompressed application/json.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: IP budget exhausted before database access. No secret mutation.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Retry-After": {
                "description": "Currently 60 seconds.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR: fixed message without internal details.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE: dependency failure, maintenance, invalid configuration, or capacity exhaustion.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "Secrets"
        ],
        "summary": "Side-effect-free browser preflight",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No mutation or rate-limit budget spent. Allowed preflight permits POST and Content-Type without credentials.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Origin or requested preflight method/headers are not allowed.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Compressed requests are unsupported.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Invalid configuration or maintenance.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Hosted public CORS; earlier policy rejections may omit this header.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "tags": [
          "Status"
        ],
        "summary": "Check liveness without querying D1",
        "responses": {
          "200": {
            "description": "Worker responds.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "415": {
            "description": "Compressed requests are unsupported.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "readiness",
        "tags": [
          "Status"
        ],
        "summary": "Check active service and D1 metadata",
        "description": "Reads schema and aggregate metadata only; never consumes secrets. GET and HEAD share a 60-request/minute IP budget per Cloudflare location.",
        "responses": {
          "200": {
            "description": "Ready.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ready"
                }
              }
            }
          },
          "415": {
            "description": "Compressed requests are unsupported.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: IP budget exhausted before database access. No secret mutation.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              },
              "Retry-After": {
                "description": "Currently 60 seconds.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Not ready, or limiter failed closed.",
            "headers": {
              "Cache-Control": {
                "description": "All responses prohibit caching.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/NotReady"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
